{% extends './base.html' %}
{% load static %}
{% block title %} SocialMediaBD {% endblock %}
{% block body %}

<div class="main">

    <!------------------left------------------->

    <div class="left">

        <div class="img">
            <img src="{% static 'home/images/profile.png' %}">
            <p>John Deo</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/friend.png' %}">
            <p>Friends</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/saved.png' %}">
            <p>Saved</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/group.png' %}">
            <p>Groups</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/marketplace.png' %}">
            <p>Marketplace</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/watch.png' %}">
            <p>Watch</p>
        </div>

        <div class="img">
            <img src="{% static 'home/images/down_arrow.png' %}">
            <p>See more</p>
        </div>

        <hr>

        <h2>You shortcuts</h2>
        <p class="edit">Edit</p>

        <div class="shortcuts">
            <img src="{% static 'home/images/shortcuts_1.png' %}">
            <p>MOBILE GAMES</p>
        </div>

        <div class="shortcuts">
            <img src="{% static 'home/images/shortcuts_2.jpeg' %}">
            <p>Online Education</p>
        </div>

        <div class="shortcuts">
            <img src="{% static 'home/images/shortcuts_3.webp' %}">
            <p>Food Lovers</p>
        </div>

        <div class="shortcuts">
            <img src="{% static 'home/images/shortcuts_4.png' %}">
            <p>Social Media Academy</p>
        </div>

        <div class="shortcuts">
            <img src="{% static 'home/images/shortcuts_5.webp' %}">
            <p>PC Shop</p>
        </div>

        <div class="shortcuts">
            <img src="{% static 'home/images/down_arrow.png' %}">
            <p>See more</p>
        </div>

    </div>

    <!------------center---------------------->

    <div class="center">

        <div class="top_box">

            <div class="my_story_card">

                <img src="{% static 'home/images/story_1.png' %}">

                <div class="story_upload">
                    <img src="{% static 'home/images/upload.png' %}">
                    <p class="story_tag">Create story</p>
                </div>

            </div>

            <div class="story_card">

                <img src="{% static 'home/images/story_2.jpg' %}">

                <div class="story_profile">

                    <img src="{% static 'home/images/profile_1.jpg' %}">
                    <div class="cricle"></div>
                    
                </div>

                <div class="story_name">
                    <p class="name">Charith Disanayaka</p>
                </div>

            </div>

            <div class="story_card">

                <img src="{% static 'home/images/story_3.jpg' %}">

                <div class="story_profile">

                    <img src="{% static 'home/images/profile_2.jpg' %}">
                    <div class="cricle"></div>
                    
                </div>

                <div class="story_name">
                    <p class="name">Minidu Thiranjana</p>
                </div>

            </div>

            <div class="story_card">

                <img src="{% static 'home/images/story_4.png' %}">

                <div class="story_profile">

                    <img src="{% static 'home/images/profile_3.jpg' %}">
                    <div class="cricle"></div>
                    
                </div>

                <div class="story_name">
                    <p class="name">Kavisha Vidurangi</p>
                </div>

            </div>

            <div class="story_card">

                <img src="{% static 'home/images/story_5.jpg' %}">

                <div class="story_profile">

                    <img src="{% static 'home/images/profile_4.png' %}">
                    <div class="cricle"></div>
                    
                </div>

                <div class="story_name">
                    <p class="name">Kavindu Akalanka</p>
                </div>

            </div>

            

        </div>


        <div class="my_post">

            <div class="post_top">

                <img src="{% static 'home/images/profile.png' %}">
                <input type="text" placeholder="What's on you mind, John?">

            </div>

            <hr>

            <div class="post_bottom">

                <div class="post_icon">
                    <i class="fa-solid fa-video red"></i>
                    <p>Live video</p>
                </div>

                <div class="post_icon">
                    <i class="fa-solid fa-images green"></i>
                    <p>Photo/video</p>
                </div>

                <div class="post_icon">
                    <i class="fa-regular fa-face-grin yellow"></i>
                    <p>Feeling/activity</p>
                </div>

            </div>

        </div>


       


        <div class="friends_post">

            <div class="friend_post_top">

                <div class="img_and_name">

                    <img src="{% static 'home/images/post_1.jpg' %}">

                    <div class="friends_name">
                        <p class="friends_name">
                            Senuda De Silva
                        </p>
                        <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                    </div>
                    

                </div>

                <div class="menu">

                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <img src="{% static 'home/images/post_1.jpg' %}">

            <div class="info">

                <div class="emoji_img">
                    <img src="{% static 'home/images/like.png' %}">
                    <img src="{% static 'home/images/haha.png' %}">
                    <img src="{% static 'home/images/heart.png' %}">
                    <p>You, Charith Disanayaka and 25K others</p>
                </div>

                <div class="comment">
                    <p>421 Comments</p>
                    <p>1.3K Shares</p>
                </div>

            </div>

            <hr>

            <div class="like">

                <div class="like_icon">
                    <i class="fa-solid fa-thumbs-up activi"></i>
                    <p>Like</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-message"></i>
                    <p>Comments</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-share"></i>
                    <p>Share</p>
                </div>

            </div>

            <hr>

            <div class="comment_warpper">

                <img src="{% static 'home/images/profile.png' %}">
                <div class="circle"></div>

                <div class="comment_search">

                    <input type="text" placeholder="Write a comment">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-note-sticky"></i>

                </div>

            </div>

        </div>

        <div class="friends_post">

            <div class="friend_post_top">

                <div class="img_and_name">

                    <img src="{% static 'home/images/profile_9.png' %}">

                    <div class="friends_name">
                        <p class="friends_name">
                            Senuda De Silva
                        </p>
                        <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                    </div>
                    

                </div>

                <div class="menu">

                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <img src="{% static 'home/images/post_2.jpg' %}">

            <div class="info">

                <div class="emoji_img">
                    <img src="{% static 'home/images/like.png' %}">
                    <img src="{% static 'home/images/haha.png' %}">
                    <img src="{% static 'home/images/heart.png' %}">
                    <p>You, Charith Disanayaka and 25K others</p>
                </div>

                <div class="comment">
                    <p>421 Comments</p>
                    <p>1.3K Shares</p>
                </div>

            </div>

            <hr>

            <div class="like">

                <div class="like_icon">
                    <i class="fa-solid fa-thumbs-up activi"></i>
                    <p>Like</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-message"></i>
                    <p>Comments</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-share"></i>
                    <p>Share</p>
                </div>

            </div>

            <hr>

            <div class="comment_warpper">

                <img src="{% static 'home/images/profile.png' %}">
                <div class="circle"></div>

                <div class="comment_search">

                    <input type="text" placeholder="Write a comment">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-note-sticky"></i>

                </div>

            </div>

        </div>

        <div class="friends_post">

            <div class="friend_post_top">

                <div class="img_and_name">

                    <img src="{% static 'home/images/profile_10.png' %}">

                    <div class="friends_name">
                        <p class="friends_name">
                            Senuda De Silva
                        </p>
                        <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                    </div>
                    

                </div>

                <div class="menu">

                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <img src="{% static 'home/images/post_3.png' %}">

            <div class="info">

                <div class="emoji_img">
                    <img src="{% static 'home/images/like.png' %}">
                    <img src="{% static 'home/images/haha.png' %}">
                    <img src="{% static 'home/images/heart.png' %}">
                    <p>You, Charith Disanayaka and 25K others</p>
                </div>

                <div class="comment">
                    <p>421 Comments</p>
                    <p>1.3K Shares</p>
                </div>

            </div>

            <hr>

            <div class="like">

                <div class="like_icon">
                    <i class="fa-solid fa-thumbs-up activi"></i>
                    <p>Like</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-message"></i>
                    <p>Comments</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-share"></i>
                    <p>Share</p>
                </div>

            </div>

            <hr>

            <div class="comment_warpper">

                <img src="{% static 'home/images/profile.png' %}">
                <div class="circle"></div>

                <div class="comment_search">

                    <input type="text" placeholder="Write a comment">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-note-sticky"></i>

                </div>

            </div>

        </div>

        <div class="friends_post">

            <div class="friend_post_top">

                <div class="img_and_name">

                    <img src="{% static 'home/images/profile_11.png' %}">

                    <div class="friends_name">
                        <p class="friends_name">
                            Senuda De Silva
                        </p>
                        <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                    </div>
                    

                </div>

                <div class="menu">

                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <img src="{% static 'home/images/post_4.jpg' %}">

            <div class="info">

                <div class="emoji_img">
                    <img src="{% static 'home/images/like.png' %}">
                    <img src="{% static 'home/images/haha.png' %}">
                    <img src="{% static 'home/images/heart.png' %}">
                    <p>You, Charith Disanayaka and 25K others</p>
                </div>

                <div class="comment">
                    <p>421 Comments</p>
                    <p>1.3K Shares</p>
                </div>

            </div>

            <hr>

            <div class="like">

                <div class="like_icon">
                    <i class="fa-solid fa-thumbs-up activi"></i>
                    <p>Like</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-message"></i>
                    <p>Comments</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-share"></i>
                    <p>Share</p>
                </div>

            </div>

            <hr>

            <div class="comment_warpper">

                <img src="{% static 'home/images/profile.png' %}">
                <div class="circle"></div>

                <div class="comment_search">

                    <input type="text" placeholder="Write a comment">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-note-sticky"></i>

                </div>

            </div>

        </div>

        <div class="friends_post">

            <div class="friend_post_top">

                <div class="img_and_name">

                    <img src="{% static 'home/images/profile_12.jpg' %}">

                    <div class="friends_name">
                        <p class="friends_name">
                            Senuda De Silva
                        </p>
                        <p class="time">16h.<i class="fa-solid fa-user-group"></i></p>
                    </div>
                    

                </div>

                <div class="menu">

                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <img src="{% static 'home/images/post_5.jpg' %}">

            <div class="info">

                <div class="emoji_img">
                    <img src="{% static 'home/images/like.png' %}">
                    <img src="{% static 'home/images/haha.png' %}">
                    <img src="{% static 'home/images/heart.png' %}">
                    <p>You, Charith Disanayaka and 25K others</p>
                </div>

                <div class="comment">
                    <p>421 Comments</p>
                    <p>1.3K Shares</p>
                </div>

            </div>

            <hr>

            <div class="like">

                <div class="like_icon">
                    <i class="fa-solid fa-thumbs-up activi"></i>
                    <p>Like</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-message"></i>
                    <p>Comments</p>
                </div>

                <div class="like_icon">
                    <i class="fa-solid fa-share"></i>
                    <p>Share</p>
                </div>

            </div>

            <hr>

            <div class="comment_warpper">

                <img src="{% static 'home/images/profile.png' %}">
                <div class="circle"></div>

                <div class="comment_search">

                    <input type="text" placeholder="Write a comment">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-regular fa-note-sticky"></i>

                </div>

            </div>

        </div>

        <div class="loard">
            <button>Loard More</button>
        </div>

        <p class="end">Design By<span><i class="fa-regular fa-face-grin"></i>
        WT Master Code</span></p>


    </div>

    <!------------------right------------------>

    <div class="right">
        
        <div class="first_warpper">

            <div class="page">

                <h2>Your Pages and profiles</h2>
                <div class="menu">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>

            </div>

            <div class="page_img">
                <img src="{% static 'home/images/page.jpg' %}">
                <p>Web Designer</p>
            </div>

            <div class="page_icon">
                <i class="fa-regular fa-bell"></i>
                <p>20 Notifications</p>
            </div>

            <div class="page_icon">
                <i class="fa-solid fa-bullhorn"></i>
                <p>Create promotion</p>
            </div>

        </div>

        <hr>

        <div class="second_warpper">

            <h2>Birthdays</h2>

            <div class="img_and_tag">

                <img src="{% static 'home/images/gift.png' %}">
                <p><span>Senuda De Silva </span>and<span> 2 others </span>have birthdays today</p>

            </div>

        </div>

        <hr>


        <div class="third_warpper">

            <div class="contact_tag">

                <h2>Contacts</h2>

                <div class="contact_icon">

                    <i class="fa-solid fa-video"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-ellipsis"></i>

                </div>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/contact_1.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/contact_2.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/contact_3.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/contact_4.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/contact_5.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_1.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_2.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_3.jpg' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_4.png' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_5.png' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_6.png' %}">
                <p>Senuda De Silva</p>

            </div>

            <div class="contact">

                <img src="{% static 'home/images/profile_7.png' %}">
                <p>Senuda De Silva</p>

            </div>

        </div>

    </div>

</div>


  
    {% endblock %}
  